﻿@model DB_ST.Domain.AnioEscolar

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar?</h3>
<div>
    <h4>Año Escolar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMatriculaContemporanea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatriculaContemporanea)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.AnioEscolarId)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
