﻿@model DB_ST.Domain.AnioEscolar

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Año Escolar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAnio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAnio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMatriculaContemporanea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatriculaContemporanea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntradaClases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntradaClases)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.HoraSalidaClases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalidaClases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoMatriculaRegular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoMatriculaRegular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoMatriculaExtemporanea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoMatriculaExtemporanea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AnioEscolarId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
