﻿@model IEnumerable<DB_ST.Domain.AnioEscolar>

@{
    ViewBag.Title = "Años Escolares";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            @Html.Label("SearchCriteria", "Ingresa nombre del Año") <br />
            @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
            <button class="btn btn-danger">Buscar Años</button>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicioMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMatriculaContemporanea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicioMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMatriculaContemporanea)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnioEscolarId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.AnioEscolarId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.AnioEscolarId })
        </td>
    </tr>
}

</table>
