﻿@model IEnumerable<DB_ST.Domain.Grado>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Promovido)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Promovido)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UlltimaModificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.GradoId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.GradoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.GradoId })
        </td>
    </tr>
}

</table>
