﻿@model DB_ST.Domain.Grado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Grado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Promovido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promovido)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlltimaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GradoId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
