﻿@model IEnumerable<DB_ST.Domain.Seccion>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VacantesDisp)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AnioEscolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.VacantesDisp)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AnioEscolar.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SeccionId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.SeccionId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.SeccionId })
        </td>
    </tr>
}

</table>
