﻿@model IEnumerable<DB_ST.Domain.Seccion>

@{
    ViewBag.Title = "Secciones";
}

<h2>@ViewBag.Title</h2>

<div class="col-sm-12">
    @using (Ajax.BeginForm("Index", new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="form-inline">
            @Html.Label("SearchCriteria", "Ingresa nombre de la Seccion") <br />
            @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
            <button class="btn btn-danger">Buscar seccion</button>
        </div>
    }

    <br />
    <div id="search_result">
        @Html.Partial("_Index", Model)
    </div>
</div>