﻿@model DB_ST.Web.Models.AsistenciaAlumnoVM

<table class="table col-md-9">
    @for (int i = 0; i < Model.Estudiantes.Count(); i++)
    {        <tr>
            <td>
                @Html.HiddenFor(modelItem => Model.Estudiantes[i].EstudianteId)
                @Html.DisplayFor(modelItem => Model.Estudiantes[i].Estudiante)
            </td>
            <td class="col-md-6">
                @*@Html.EnumDropDownListFor(model => model.Sexo, "[Asistencia]",
                        new { @class = "form-control" })*@
                <div class="col-sm-4">
                    A
                    @Html.RadioButtonFor(modelItem => Model.Estudiantes[i].ValorAsistencia, DB_ST.Domain.Enum.ValorAsistencia.Asistio)
                </div>

                <div class="col-sm-4">
                    F
                    @Html.RadioButtonFor(modelItem => Model.Estudiantes[i].ValorAsistencia, DB_ST.Domain.Enum.ValorAsistencia.Falto)
                </div>

                <div class="col-sm-4">
                    N
                    @Html.RadioButtonFor(modelItem => Model.Estudiantes[i].ValorAsistencia, DB_ST.Domain.Enum.ValorAsistencia.NoRegistrado)
                    @*@Html.CheckBoxFor(modelItem => Model.Alumnos[i].Asistio)*@
                </div>

            </td>
        </tr>
    }

</table>

