﻿@model DB_ST.Web.Models.AsistenciaAlumnoVM

@{
    ViewBag.Title = "Registro de asistencia";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.Partial("_resultado")

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row alert-success">
            <br />
            <div class="form-group col-md-6">
                @*@Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-4" })
                @Html.DisplayFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.HiddenFor(model => model.Fecha)*@

                @{ Html.EnableClientValidation(false); }
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
                @Html.HiddenFor(model => model.Fecha)
            </div>

            @if (User.IsInRole("director"))
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.GradoId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.GradoId,
                    ViewBag.Grados as SelectList,
                    "[Grado]",
                    new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GradoId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            <div class="form-group col-md-6">
                @Html.Label("Sección", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SeccionId,
                    ViewBag.Secciones as SelectList,
                    "[Sección]",
                    new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div>
            <br>
            <table class="table">
                <tr>
                    <th class="col-md-6">
                        Estudiante
                    </th>
                    <th class="col-md-6">
                        Asistencia
                    </th>
                </tr>
            </table>

            <div class="row">
                <div class="col-md-9">
                    <div id="asistencia">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Reportes", "ReporteAsistencia")
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

        $(function () {
            //cargarSecciones();
            $("#GradoId").change(function () {
                cargarSecciones();
            });

            //$("#SeccionId").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});
        });

        function cargarSecciones() {
            $.get
            ("/Matricula/GetSeccionesByGrado",
                {
                    id: $("#GradoId").val()
                    @if (ViewBag.DocenteId != null)
                    {
                        @:,docenteId: @ViewBag.DocenteId
                    }
                },
                function (data)
                {
                    $("#SeccionId").empty();
                    $("#SeccionId").append("<option>[Sección]</option>")
                    $.each
                        (data, function (index, row)
                            {
                                $("#SeccionId").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                            }
                        );
                }
            );
        }

        $("#SeccionId").change(function () {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetEstudiantes")' + '/?seccionId=' + $("#SeccionId").val(),
                dataType: 'html',
                success: function (data) {
                    $("#asistencia").html(data);
                },
                error: function (ex) {
                    alert('Error al cargar las Secciones.' + ex);
                }
            });
        });
    </script>
}