﻿
@{
    ViewBag.Title = "Registro de asistencia";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    <strong>
        @switch (ViewBag.Error as int?)
        {
            case 0:
                @:Ud. no es tutor de ninguna sección el presente año escolar.
                break;

            case 1:
                @:El periodo de registro de asistencia es de @ViewBag.Inicio a @ViewBag.Final
                break;
        }
    </strong>
</div>

@Html.ActionLink("Volver a registrar","Create")