﻿@model IEnumerable<DB_ST.Domain.AsistenciaAlumno>

@{
    ViewBag.Title = "ReporteAsistencia";
}

<h2>ReporteAsistencia</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
            </td>
        
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Volver a la lista", "Create")
</p>
