﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DB_ST.Domain.Estudiante>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Procedencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Habilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EstadoEstudiante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoEstudiante)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EstudianteId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.EstudianteId }) |
            @if (item.Habilitado == true)
            {
                @Html.ActionLink("Deshabilitar", "Disable", new { id = item.EstudianteId })
            }
            else
            {
                @Html.ActionLink("Habilitar", "Disable", new { id = item.EstudianteId })
            }

        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        SearchCriteria = ViewBag.SearchCriteria
    })
    ,
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    })
    )