﻿@model DB_ST.Domain.Estudiante

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Estudiante</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.EnumDropDownListFor(model => model.Sexo, "[Sexo]",
                        new { @class = "form-control"/*, Model.Sexo */})
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.RH, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.EnumDropDownListFor(model => model.RH, "[Sexo]",
                        new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("DepartamentoId",
                    ViewBag.Deps as SelectList,
                    "[Departamento]",
                    new { @class = "form-control",@id= "DepartamentoId" })
                @Html.ValidationMessage("Departamento", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("ProvinciaId",
                    ViewBag.Pros as SelectList,
                    "[Provincia]",
                    new { @class = "form-control" })
                @Html.ValidationMessage("Provincia", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.DistritoId,
                    ViewBag.Diss as SelectList,
                    "[Distrito]",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.EstadoEstudiante, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.EnumDropDownListFor(model => model.EstadoEstudiante, "[Estado]",
                        new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoEstudiante, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ApoderadoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApoderadoId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApoderadoId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>


@section Scripts {
   <script type="text/javascript">

        $(function () {
            cargarProvincias();
            $("#DepartamentoId").change(function () {
                cargarProvincias();
            });
            //$("#SelectSeccion").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});
        });

        function cargarProvincias() {
            $.get("/Estudiante/GetProvincias", { id: $("#DepartamentoId").val() }, function (data) {
                $("#ProvinciaId").empty();
                $("#ProvinciaId").append("<option>[Provincia]</option>")
                $.each(data, function (index, row) {
                    $("#ProvinciaId").append("<option value='" + row.ProvinciaId + "'>" + row.Nombre + "</option>")
                });
            });
        }

        $(function () {
            cargarDistritos();
            $("#ProvinciaId").change(function () {
                cargarDistritos();
            });
            //$("#SelectSeccion").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});
        });

        function cargarDistritos() {
            $.get("/Estudiante/GetDistritos", { id: $("#ProvinciaId").val() }, function (data) {
                $("#DistritoId").empty();
                $("#DistritoId").append("<option>[Distrito]</option>")
                $.each(data, function (index, row) {
                    $("#DistritoId").append("<option value='" + row.DistritoId + "'>" + row.Nombre + "</option>")
                });
            });
        }
    </script>
}


