﻿@model DB_ST.Domain.Estudiante

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayName("Departamento")
        </dt>

        <dd>
            @Html.Display("Departamento")
        </dd>

        <dt>
            @Html.DisplayName("Provincia")
        </dt>

        <dd>
            @Html.Display("Provincia")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoEstudiante)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ApoderadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApoderadoId)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EstudianteId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
