﻿@model DB_ST.Domain.Estudiante

@{
    ViewBag.Title = ViewBag.Titulo;
}

@*<h2>@ViewBag.Titulo</h2>*@

@if (Model.Habilitado == true)
{
    <h3>¿Desea deshabilitar a este estudiante?</h3>
}
else
{
    <h3>¿Desea habilitar a este estudiante?</h3>
}
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ApoderadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApoderadoId)
        </dd>*@

    </dl>

    @using (Html.BeginForm("Disable")) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.EstudianteId)
        <div class="form-actions no-color">
            @if(Model.Habilitado==true){
                <button class="btn btn-danger">Deshabilitar</button>
            }else{
                <button class="btn btn-danger">Habilitar</button>
            }            

            @*<button class="btn btn-danger">Deshabilitar</button>*@
            |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }

</div>
