﻿@model PagedList.PagedList<DB_ST.Domain.Estudiante>

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>

<div class="col-sm-12">
    @using (Ajax.BeginForm("Index", new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="form-inline">
            @Html.Label("SearchCriteria", "Ingresa DNI del Estudiante") <br />
            @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
            <button class="btn btn-danger">Buscar</button>
        </div>
    }

    <br />
    <div id="search_result">
        @Html.Partial("_Index", Model)
    </div>
</div>