﻿@model IEnumerable<DB_ST.Domain.Clase>

<p>
    <a href="#" class="BtnCreateSesion">Crear Nueva</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHabilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsignaturaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHabilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.FullName)
        </td>
        <td>
            @Html.ActionLink("Adm. Sesiones", "GetByClaseId","Sesion", new { claseid = item.ClaseId },null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ClaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClaseId }) |
            @Html.ActionLink(item.IsHabilitado? "Disable":"Enable", "Disable", new { id=item.ClaseId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
        $(document).ready(function () {
            $(".BtnCreateSesion").click(function () {
                $('.BtnCreateSesion').attr('href', '/Clase/Create?seccionId=' + $("#SeccionId").val());
            });
        });
</script>