﻿@model IEnumerable<DB_ST.Domain.Clase>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHabilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsignaturaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHabilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClaseId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ClaseId }) |
            @Html.ActionLink("Desactivar", "Disable", new { id = item.ClaseId }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.ClaseId })*@
        </td>
    </tr>
}

</table>
