﻿@model DB_ST.Domain.Clase

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsHabilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHabilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignaturaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.FullName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClaseId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
