﻿@model DB_ST.Domain.Clase

@{
    ViewBag.Title = @ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>

@if (Model.IsHabilitado == true)
{
    <h3>¿Desea deshabilitar esta clase?</h3>
}
else
{
    <h3>¿Desea habilitar esta clase?</h3>
}

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsHabilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHabilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignaturaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignaturaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.FullName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-default" />*@ 
            @if (Model.IsHabilitado == true)
            {
                <button class="btn btn-danger">Deshabilitar</button>
            }
            else
            {
                <button class="btn btn-danger">Habilitar</button>
            }  
            |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
