﻿@model IEnumerable<DB_ST.Domain.Clase>

@{
    ViewBag.Title = ViewBag.Titulo;
    //ViewBag.MsjBusqueda;
}

<h2>@ViewBag.Titulo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seleccione grado y sección para administrar sus clases.</h4>
        <hr />

        <div class="pull-right">
            @if (ViewBag.VerDisabled)
            {
                @Html.ActionLink("Excluir registros desactivados", "Index"@*, null, new { @class = "btn pull-right" }*@)
            }
            else
            {
                @Html.ActionLink("Incluir registros desactivados", "Index", new { verDisabled = true }@*, new { @class = "btn pull-right" }*@)
            }
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="alert alert-info">
            <div class="form-group">
                @Html.Label("AnioEscolarId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AnioEscolarId", ViewBag.AnioEscolars as SelectList, "[Seleccione Año Escolar]", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("GradoId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GradoId", ViewBag.Grados as SelectList, "[Seleccione Año Escolar]", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("SeccionId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SeccionId", ViewBag.Secciones as SelectList, "[Seleccione Año Escolar]", new { @class = "form-control" })
                </div>
            </div>
        </div>
        
        <table class="table"></table>

        <div class="row">
            <div class="col-md-12">
                <div id="claseList">

                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#SeccionId").trigger("change");
            //cargarSecciones();
            //$("#GradoId")
            //    .change(function() {
            //        cargarSecciones();
            //    });

            //$("#SeccionId")
            //    .change(function() {
            //        cargarHorarios();
            //    });
            
            $('#AnioEscolarId,#GradoId').on('click change', function (e) {
                cargarSecciones();
            });

            $('#SeccionId').on('click change', function (e) {
                cargarHorarios();
            });
        });

        function getGradoId() {
            return $("#GradoId").val();
        }
        function getSeccionId() {
            return $("#SeccionId").val();
        }



        function cargarSecciones() {
            $.get("/Matricula/GetSeccionesByGrado",
            {
                id: $("#GradoId").val(),
                anioEscolarId: $("#AnioEscolarId").val(),
            },
            function(data) {
                $("#SeccionId").empty();
                $("#SeccionId").append("<option>[Secciones]</option>")
                $.each(data,
                    function(index, row) {
                        $("#SeccionId").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                    });
            });
        }

        function cargarHorarios() {
            $.ajax({
                type: 'Get',
                //url: '@Url.Action("GetBySeccionId")' + '/?seccionId=' + $("#SeccionId").val(),
                url: '@Url.Action("GetBySeccionId")' + '/?seccionId=' + $("#SeccionId").val() + "&verDisabled=@ViewBag.VerDisabledString",
                dataType: 'html',
                success: function (data) {
                    $("#claseList").html(data);
                },
                error: function (ex) {
                    alert('Error al cargar los horarios.' + ex);
                }
            });
        }
    </script>
}




@*<div class="col-sm-12" id="PageContent">
    @using (Ajax.BeginForm("Index", new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="form-inline">
            @Html.Label("SearchCriteria", "Ingrese Nombre de Clase") <br />
            @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
            <button class="btn btn-danger">Buscar</button>
        </div>
    }

    <br />
    <div id="search_result">
        @Html.Partial("_Index", Model)
    </div>
</div>*@

