﻿@using PagedList
@using PagedList.Mvc

@model IPagedList<DB_ST.Domain.Apoderado>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Profesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Celular)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ApoderadoId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ApoderadoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ApoderadoId })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        SearchCriteria = ViewBag.SearchCriteria
    })
    ,
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    })
    )