﻿@model DB_ST.Domain.Empleado

<div>
    <h2>@ViewBag.Titulo</h2>
    <h4>Empleado</h4>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Distrito.Provincia.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Provincia.Departamento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Provincia.Nombre)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHabilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHabilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmpleado.NombreTipoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EmpleadoId }) |
    @Html.ActionLink("Volver a la lista", "Index")
    @*@Ajax.ActionLink("Volver a la lista", "Index", new { SearchCriteria = "" }, new AjaxOptions()
        {
            UpdateTargetId = "PageContent",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace
        }
        )*@
</p>
