﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DB_ST.Domain.Empleado>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")

    @*@Ajax.ActionLink("Registrar nuevo", "Create",new { id = modelItem => item.FullName}, new AjaxOptions()
     {
         UpdateTargetId = "PageContent",
         HttpMethod = "Get",
         InsertionMode = InsertionMode.Replace
     }
    )*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoEmpleadoId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Profesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsHabilitado)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Procedencia)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEmpleado.NombreTipoEmpleado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHabilitado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Procedencia)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.EmpleadoId })
            @*@Ajax.ActionLink("Editar", "Edit", new { id=item.EmpleadoId }, new AjaxOptions()
            {
                UpdateTargetId = "PageContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace
            }
            )*@

            |
            @Ajax.ActionLink("Detalles", "Details", new { id=item.EmpleadoId }, new AjaxOptions()
            {
                UpdateTargetId = "PageContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace
            }
            ) |
            @Ajax.ActionLink("Desactivar", "Disable", new { id = item.EmpleadoId }, new AjaxOptions()
            {
                UpdateTargetId = "PageContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace
            }
            ) @*|
            @Ajax.ActionLink("Delete", "Delete", new { id = item.EmpleadoId }, new AjaxOptions()
            {
                UpdateTargetId = "PageContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace
            }
            )*@


        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        SearchCriteria = ViewBag.SearchCriteria
    })
    ,
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    })
    )