﻿@model DB_ST.Domain.Empleado

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empleado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmpleadoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        @*@Html.Hidden("FechaNacimientoTemp", Model.FechaNacimiento.ToString("dd/MM/yyyy"))*@
        

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.DropDownListFor(model => model.Sexo,
                        ViewBag.Sexo as SelectList,
                        "[Sexo]",
                        new { @class = "form-control" })*@

                @*estito*@
                @Html.EnumDropDownListFor(model => model.Sexo, "[Sexo]",
                    new { @class = "form-control", Model.Sexo })
                @Html.Hidden("SexoTemp", (int)Model.Sexo)

                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div >
        </div >

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("DepartamentoId",
                    ViewBag.Deps as SelectList,
                    "[Departamento]",
                    new { @class = "form-control", @id = "DepartamentoId" })
                @Html.ValidationMessage("Departamento", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("ProvinciaId",
                    ViewBag.Pros as SelectList,
                    "[Provincia]",
                    new { @class = "form-control" })
                @Html.ValidationMessage("Provincia", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.DistritoId,
                    ViewBag.Diss as SelectList,
                    "[Distrito]",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profesion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profesion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profesion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.IsHabilitado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsHabilitado)
                    @Html.ValidationMessageFor(model => model.IsHabilitado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @Html.HiddenFor(model => model.IsHabilitado)

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEmpleadoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.TipoEmpleadoId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.TipoEmpleadoId,
                        ViewBag.TipoEmpleados as SelectList,
                        "[Tipo de Empleado]",
                        new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoEmpleadoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#Sexo").val($("#SexoTemp").val());
            $("#FechaNacimiento").datepicker({
                format: "yyyy/MM/dd"
                //format: 'dd/MM/yyyy'
            });
        });

        $(function () {
            cargarProvincias();
            $("#DepartamentoId").change(function () {
                cargarProvincias();
            });
            //$("#SelectSeccion").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});
        });

        function cargarProvincias() {
            $.get("/Estudiante/GetProvincias", { id: $("#DepartamentoId").val() }, function (data) {
                $("#ProvinciaId").empty();
                $("#ProvinciaId").append("<option>[Provincia]</option>")
                $.each(data, function (index, row) {
                    $("#ProvinciaId").append("<option value='" + row.ProvinciaId + "'>" + row.Nombre + "</option>")
                });
            });
        }

        $(function () {
            cargarDistritos();
            $("#ProvinciaId").change(function () {
                cargarDistritos();
            });
            //$("#SelectSeccion").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});
        });

        function cargarDistritos() {
            $.get("/Estudiante/GetDistritos", { id: $("#ProvinciaId").val() }, function (data) {
                $("#DistritoId").empty();
                $("#DistritoId").append("<option>[Distrito]</option>")
                $.each(data, function (index, row) {
                    $("#DistritoId").append("<option value='" + row.DistritoId + "'>" + row.Nombre + "</option>")
                });
            });
        }

    </script>
}

@*@Html.EnumDropDownListFor(model => model.Sexo, "[Sexo]",
                        new { @class = "form-control", Model.Sexo })
@Html.Hidden("SexoTemp", (int)Model.Sexo)
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#Sexo").val($("#SexoTemp").val());
        });
    </script>
}*@