﻿@model IEnumerable<DB_ST.Domain.TipoEmpleado>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UlltimaModificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoEmpleadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoEmpleadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoEmpleadoId })
        </td>
    </tr>
}

</table>
