﻿@model DB_ST.Domain.TipoEmpleado

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>TipoEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlltimaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoEmpleadoId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
