﻿@using PagedList

@model PagedList<DB_ST.Domain.Matricula>

@{
    ViewBag.Title = "Reporte de Matriculados";
}

<h2>@ViewBag.Title</h2>

<div class="col-sm-12">
    @*@using (Ajax.BeginForm("Index", new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))*@

    @using (Html.BeginForm("Index","ReporteMatricula", FormMethod.Get))
    {
        <div class="row alert alert-info">
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.Label("Año Escolar")
                    @Html.DropDownList("AnioEscolarId", ViewBag.AnioEscolars as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Grado")
                    @Html.DropDownList("GradoId", ViewBag.Grados as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Sección")
                    @Html.DropDownList("SeccionId", ViewBag.Secciones as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.Label("SearchCriteria", "DNI/Nombres de estudiante") <br />
                    @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <br />
                    <button class="btn btn-danger">Buscar matrícula</button>
                </div>
            </div>
        </div>

    }

    <br />
    <div id="search_result">
        @Html.Partial("_Matriculados", Model)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var seccionSelector = "#SeccionId";
       // alert(getUrlParameter('SeccionId'));
        //$(seccionSelector).val(getUrlParameter('SeccionId')+"");
        $(document).ready(function () {
            $.when(cargarSecciones())
            .done(function (status) {
                //alert(status);
                $(seccionSelector + " option[value=" + getUrlParameter('SeccionId') + "]").prop('selected', true);
            })
            .fail(function (error) {
                //alert(error);
            });
        });

        $("#GradoId,#AnioEscolarId").change(function () {
            cargarSecciones();
        });
        function cargarSecciones() {
            var promesa = $.Deferred();
            $.get("/Matricula/GetSeccionesByGrado",
                {
                    id: $("#GradoId").val(),
                    anioEscolarId: $("#AnioEscolarId").val()
                }, function (data) {
                    $(seccionSelector).empty();
                    $(seccionSelector).append("<option>[No Filtrar]</option>")
                    $.each(data, function (index, row) {
                        $(seccionSelector).append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                    });
                    promesa.resolve("Correcto");
                }
            ).fail(function () {
                promesa.reject("error");
            });
            return promesa.promise();
        }

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>
}