﻿@model IEnumerable<DB_ST.Domain.Sesion>

<p>
        @*@Html.ActionLink("Create New","Create",null, new {@class= "BtnCreateSesion" })*@
    <a href="#" class="BtnCreateSesion">CREAR</a>
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeccionId)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeccionId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SesionId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SesionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SesionId })
            </td>
        </tr>
    }

    </table>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".BtnCreateSesion").click(function () {
                $('.BtnCreateSesion').attr('href', '/HorarioEstudiante/Create?seccionId=' + $("#SeccionId").val());
            });
        });
    </script>