﻿@model DB_ST.Web.Models.HorariosViewModel

<table class="table">
    <tr>
        <th>Asignatura</th>
        <th>Dia </th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        </tr>

    @for (int i = 0; i < Model.Horarios.Count(); i++)
    {

        <tr>
            <td>
                @Html.HiddenFor(modelItem => Model.Horarios[i].Nombre)
                @Html.DisplayFor(modelItem => Model.Horarios[i].Nombre, new { htmlAttributes = new { @class = "control-label col-md-4 " } })
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.Horarios[i].Dia, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.Horarios[i].HoraInicio, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.Horarios[i].HoraFin, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            </tr>
    }
</table>