﻿@model DB_ST.Web.Models.HorariosViewModel

@{
    ViewBag.Title = ViewBag.Titulo;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HorariosViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GradoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.GradoId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.GradoId, new SelectList(ViewBag.Grados, "GradoId", "Nombre"), "[Seleccione Grado]", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GradoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeccionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SeccionId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.SeccionId, new SelectList(ViewBag.Secciones, "SeccionId", "Nombre"), "[Seleccione Seccion]", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <table class="table"></table>

        <div class="row">
            <div class="col-md-12">
                <div id="horarioEstudiantes">

                </div>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //$("a.replacedLink").click(function () {
        //    window.location = $(this).attr("data-url")
        //        .replace("{gradoId}", $("#GradoId").val())
        //        .replace("{seccionId}", $("#SeccionId").val());
        //});

        $(function() {
            cargarSecciones();
            //cargarAsignaturas();
            //cargarAlumnos();
            $("#GradoId")
                .change(function() {
                    cargarSecciones();
                    //cargarAsignaturas();
                });

            $("#SeccionId")
                .change(function() {
                    cargarHorarios();
                });
            //$("#SelectSeccion").change(function () {
            //    $("#SeccionId").val($("#SelectSeccion").val());
            //});

            /*$("#BtnCreate")
                .click(function () {
                    $.get("/HorarioEstudiante/Create",
                    {
                        gradoId: $("#GradoId").val(),
                        seccionId:  $("#SeccionId").val()
                    });
                });*/
        });

        function getGradoId() {
            return $("#GradoId").val();
        }
        function getSeccionId() {
            return $("#SeccionId").val();
        }

        function cargarSecciones() {
            $.get("/Matricula/GetSeccionesByGrado",
                { id: $("#GradoId").val() },
                function(data) {
                    $("#SeccionId").empty();
                    $("#SeccionId").append("<option>[Secciones]</option>")
                    $.each(data,
                        function(index, row) {
                            $("#SeccionId").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                        });
                });
        }

        function cargarHorarios() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetSesiones")' + '/?seccionId=' + $("#SeccionId").val(),
                dataType: 'html',
                success: function (data) {
                    $("#horarioEstudiantes").html(data);
                },
                error: function (ex) {
                    alert('Error al cargar los horarios.' + ex);
                }
            });
        }

        //$(function () {
        //    cargarAignaturas();
        //    $("#GradoId").change(function () {
        //        cargarAignaturas();
        //    });
        //    //$("#SelectSeccion").change(function () {
        //    //    $("#SeccionId").val($("#SelectSeccion").val());
        //    //});
        //});

        //function cargarAsignaturas() {
        //    $.get("/GetAsignaturasByGrado",
        //        { id: $("#GradoId").val() },
        //        function(data) {
        //            $("#AsignaturaId").empty();
        //            $("#AsignaturaId").append("<option>[Asignatura]</option>")
        //            $.each(data,
        //                function(index, row) {
        //                    $("#AsignaturaId")
        //                        .append("<option value='" + row.AsignaturaId + "'>" + row.Nombre + "</option>")
        //                });
        //        });
        //}


    </script>
}


