﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jardin Santa Teresita</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />

</head>
<body>
    <header>
    </header>
    @RenderSection("Fondo", required: false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole(Rols.Administrador))
                    { //administrador
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                            <li>@Html.ActionLink("Tipo de empleado", "Index", "TipoEmpleado")</li>
                            @*<li>@Html.ActionLink("Vacuna", "Index", "Vacuna")</li>*@
                        </ul>
                    </li>
                    }
                    
                    @if (User.IsInRole(Rols.Director))
                    {//director
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Direccion<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Configuración de Año Escolar", "Index", "AnioEscolar")</li>
                                <li>@Html.ActionLink("Grados", "Index", "Grado")</li>
                                <li>@Html.ActionLink("Secciones", "Index", "Seccion")</li>
                                <li>@Html.ActionLink("Asignaturas", "Index", "Asignatura")</li>
                                <li>@Html.ActionLink("Periodos", "Index", "Periodo")</li>
                                <li>@Html.ActionLink("Clases (Sesiones)", "Index", "Clase")</li>
                                <li>@Html.ActionLink("Notas de Alumnos", "Index", "Nota")</li>
                                <li>@Html.ActionLink("Solicitudes de Cambio de Notas", "Index", "NotaSolicitudCambio")</li>

                            </ul>
                        </li>
                    }
                    
                    @if (User.IsInRole(Rols.Secretario))
                    {//secretaria
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secretaria<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Matrícula", "Index", "Matricula")</li>
                                <li>@Html.ActionLink("Apoderado", "Index", "Apoderado")</li>
                                <li>@Html.ActionLink("Estudiantes", "Index", "Estudiante")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole(Rols.Docente))
                    {//docente
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docentes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Asistencia de Alumnos", "Create", "AsistenciaAlumno")</li>
                                <li>@Html.ActionLink("Notas de Alumnos", "Index", "Nota")</li>
                                <li>@Html.ActionLink("Materiales", "Index", "Material")</li>
                                <li>@Html.ActionLink("Solicitudes de Cambio de Notas", "IndexDocente", "NotaSolicitudCambio")</li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Matriculados", "Index", "ReporteMatricula")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Asistencia", "Index", "ReporteAsistencia")</li>
                                <li>@Html.ActionLink("Notas", "Index", "ReporteNota")</li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="height:100vh;">
        @RenderBody()
        <hr />
        <div class="height:100vh;"/>
        <footer class="alert alert-info" style="opacity:0.6">
            <p>Jardin Santa Teresita - Derechos reservados &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
