﻿<div class="row">
    @if (!string.IsNullOrEmpty(ViewBag.success))
            {
        <div class="alert alert-success">
            <strong>@ViewBag.success</strong>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.info))
            {
        <div class="alert alert-info">
            <strong>@ViewBag.info</strong>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.error))
            {
        <div class="alert alert-danger">
            <strong>@ViewBag.error</strong>
        </div>
    }
</div>

