﻿@model DB_ST.Domain.Periodo

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>Periodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioEscolarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioEscolarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoNotasInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoNotasInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoNotasFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoNotasFin)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PeriodoId)
        @Html.HiddenFor(model => model.AnioEscolarId)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
