﻿@model IEnumerable<DB_ST.Domain.Periodo>

<p>
        @*@Html.ActionLink("Crear Nuevo", "Create")*@
    <a href="#" class="BtnCreatePeriodo">Crear Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngresoNotasInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngresoNotasFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoNotasInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoNotasFin)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PeriodoId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.PeriodoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PeriodoId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
        $(document).ready(function () {
            $(".BtnCreatePeriodo").click(function () {
                $('.BtnCreatePeriodo').attr('href', '/Periodo/Create?anioId=' + $("#AnioEscolarId").val());
            });
        });
</script>
