﻿
@{
    ViewBag.Title = "Periodos";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_resultado")

<div class="form-horizontal alert alert-info">
    <div class="form-group">
        @Html.Label("Año Escolar", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AnioEscolarId", ViewBag.AnioEscolars as SelectList, "[Seleccione Año Escolar]", new { @class = "form-control" })
            @Html.ValidationMessage("AnioEscolarId", "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="periodoList">

        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AnioEscolarId').on('change', function (e) {
                cargarPeriodos();
            });
        });

        function cargarPeriodos() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetByAnioEscolar")' + '/?anioId=' + $("#AnioEscolarId").val(),
                dataType: 'html',
                success: function (data) {
                    $("#periodoList").html(data);
                },
                error: function (ex) {
                    alert('Error al cargar los periodos.' + ex);
                }
            });
        }

        //function cargarPeriodos() {
        //    $.get("/Periodo/GetByAnioEscolar",
        //    {
        //        anioId: $("#AnioEscolarId").val()
        //    },
        //    function(data) {
        //        $("#AnioEscolarId").empty();
        //        $("#AnioEscolarId").append("<option>[Año]</option>")
        //        $.each(data,
        //            function(index, row) {
        //                $("#AnioEscolarId").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
        //            });
        //    });
        //}


    </script>
}


