﻿@model DB_ST.Web.Models.EntitiesVM.__LibretaVM

<table class="table">
    <tr>
        <th>Clase</th>
        @foreach (var item in Model.Periodos)
        {
            <th>@item.Nombre</th>
        }
    </tr>

    @foreach (var item in Model.NotasCursos)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.Clase.ClaseId)
                @Html.DisplayFor(modelItem => item.Clase.FullAsignaturaClase , new { htmlAttributes = new { @class = "control-label col-md-4 " } })
            </td>


            @foreach (var periodo in Model.Periodos)
            {
                <td>
                    @if (item.Notas.Where(x => x.PeriodoId == periodo.PeriodoId).Count() > 0)
                    {
                        @item.Notas.Where(x => x.PeriodoId == periodo.PeriodoId).FirstOrDefault().Vigesimal
                    }
                    else
                    {
                        @:-
                    }
                </td>
            }
        </tr>
    }
</table>











@*<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.NotasCursos) {
    <tr>
        @item.Clase.Nombre
        @foreach (var nota in @item.Notas)
        {
            foreach (var periodo in Model.Periodos)
            {
                if(nota==)
            }
        }
    </tr>
}

</table>*@
