﻿
@{
    ViewBag.Title = "Reporte de Notas de Alumnos";
}

<h2>@ViewBag.Title</h2>

<div class="form-group alert alert-info">
    @Html.Label("Estudiante", htmlAttributes: new { @class = "control-label col-md-3" })
    @Html.DropDownList("EstudianteId", ViewBag.Estudiantes as SelectList, "[Estudiante]", new { @class = "form-control select2" })
</div>

<div id="divNotas">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("#EstudianteId").select2();
            $("#EstudianteId").change(function () {
                cargarLibreta();
            });
        });


        function cargarLibreta() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("_GetLibreta")' + '/?estudianteId=' + $("#EstudianteId").val(),
                dataType: 'html',
                success: function (data) {
                    $("#divNotas").html(data);
                },
                error: function (ex) {
                //alert('Error al cargar el formulario de traslado' + ex);
                }
            });
        }
    </script>
}