﻿@{
    ViewBag.Title = "Acerca de";
}

<div class="row text-center">
        <h2>Acerca del <b>Jardín Santa Teresita</b></h2>
        <h3>I.E.I. líder en Cajamarca</h3>
        
    <div class="col-sm-6">
        <dl>
            <dt>
                Nombre IE
            </dt>
            <dd>
                015 SANTA TERESITA
            </dd>

            <dt>
                Nivel
            </dt>
            <dd>
                Inicial - Jardín
            </dd>

            <dt>
                Dirección
            </dt>
            <dd>
                Av. Los Héroes 315
            </dd>

            <dt>
                Ubicación
            </dt>
            <dd>
                Cajamarca, Cajamarca, Cajamarca
            </dd>

            <dt>
                Ubigeo
            </dt>
            <dd>
                060101
            </dd>

            <dt>
                Teléfono
            </dt>
            <dd>
                36 3362
            </dd>

            <dt>
                Género
            </dt>
            <dd>
                Mixto
            </dd>

            <dt>
                Turno
            </dt>
            <dd>
                Continuo sólo en la mañana
            </dd>

            <dt>
                Tipo
            </dt>
            <dd>
                Pública de gestión directa
            </dd>

            <dt>
                Ugel
            </dt>
            <dd>
                UGEL Cajamarca
            </dd>
        </dl>
    </div>

    <div class="col-sm-6" style="height:100%; vertical-align:middle; display:table-cell; text-align:center;">
        <img src="~/img/logo.jpg" style="padding:3em" />
    </div>    
</div>

