﻿@{
    ViewBag.Title = "Home Page";
}

@section Fondo{
<div class="item" style="background-image: url(../../img/niños-desenfocados.png);background-size:100% auto;" />    
}

<br />
<div class="jumbotron" style="opacity:0.8; text-align:center" >
    <h1>JARDÍN SANTA TERESITA</h1>
    <p class="lead"><a href="/Account/Login">Inicie sesión</a> para empezar.</p>
    <p><a href="https://www.facebook.com/ien15st/" class="btn btn-primary btn-lg">Facebook Fanpage &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>MISIÓN</h2>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-4">
        <h2>VISIÓN</h2>
        <p>...</p>
    </div>
    <div class="col-md-4">
        <h2>CONTACTOS</h2>
        <p>Nro Celular: xxx-xxxxxx</p>
        <p>Correo: xxx@xxxxxx</p>
        <p>Cabrera Posadas, Cecilia del Pilar</p>
    </div>
</div>*@