﻿@model DB_ST.Web.Models.EntitiesVM.__NotasClaseVM

<table class="table">
    <tr>
        <th>Alumno</th>
        @foreach (var item in Model.Periodos)
        {
            <th>@item.Nombre</th>
        }
    </tr>

    @foreach (var item in Model.NotasEstudiante)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.Estudiante.EstudianteId)
                @Html.DisplayFor(modelItem => item.Estudiante.FullName, new { htmlAttributes = new { @class = "control-label col-md-4 " } })
            </td>


            @foreach (var periodo in Model.Periodos)
            {
                <td>
                    @if (item.Notas.Where(x => x.PeriodoId == periodo.PeriodoId).Count() > 0)
                    {
                        @item.Notas.Where(x => x.PeriodoId == periodo.PeriodoId).FirstOrDefault().Vigesimal 
                        @:|
                        @Html.ActionLink("Editar", "Edit", new
                        {
                            id = item.Notas.Where(x => x.PeriodoId == periodo.PeriodoId).FirstOrDefault().NotaId
                        })
                    }
                    else
                    {
                        @Html.ActionLink("Registrar", "Create",
                                    new
                                    {
                                        estudianteId = item.Estudiante.EstudianteId,
                                        claseId = Model.Clase.ClaseId,
                                        periodoId = periodo.PeriodoId
                                    })
                    }
                </td>
            }
        </tr>
    }
</table>