﻿@model DB_ST.Domain.Nota

<div class="form-group">
    @Html.Label("Alumno", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (ViewBag.Alumno != null)
        {
            @ViewBag.Alumno
        }
        else
        {
            @Html.DisplayFor(model => model.EstudianteClase.Estudiante.FullName, new { htmlAttributes = new { @class = "form-control" } })
        }
    </div>
</div>

<div class="form-group">
    @Html.Label("Asignatura", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (ViewBag.Asignatura != null)
        {
            @ViewBag.Asignatura
        }
        else
        {
            @Html.DisplayFor(model => model.EstudianteClase.Clase.Asignatura.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        }
    </div>
</div>

<div class="form-group">
    @Html.Label("Clase", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (ViewBag.Clase != null)
        {
            @ViewBag.Clase
        }
        else
        {
            @Html.DisplayFor(model => model.EstudianteClase.Clase.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        }
    </div>
</div>

<div class="form-group">
    @Html.Label("Periodo", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (ViewBag.Periodo != null)
        {
            @ViewBag.Periodo
        }
        else
        {
            @Html.DisplayFor(model => model.Periodo.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        }
    </div>
</div>
