﻿@model DB_ST.Web.Models.EntitiesVM.__NotasClaseVM

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Alumno</th>
        @foreach (var item in Model.Periodos)
        {



#line default
#line hidden

#line 4 "C:\Users\USER\Desktop\UPN-2017-1\Calidad\sistemast\DB_ST.Web\Views\Nota\_GetNotasClase.cshtml"

        }
    </tr>

    @foreach (var item in Model)
    {
<tr>
            <td>
                @Html.HiddenFor(modelItem => item.Estudiante.EstudianteId)
                @Html.DisplayFor(modelItem => item.Estudiante.FullName, new { htmlAttributes = new { @class = "control-label col-md-4 " } })
            </td>
            <td>
                @foreach (var nota in item.Notas)
                {
                    @Html.EditorFor(modelItem => nota.Vigecimal, new { htmlAttributes = new { @class = "form-control" } }) 
                }
            </td>
        </tr>
    }
</table>


@*<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@
