﻿
@{
    ViewBag.Title = @ViewBag.Titulo;
}

<h2>@ViewBag.Titulo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seleccione grado y sección para administrar sus notas.</h4>
        <hr />

        @Html.Partial("_resultado")

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="alert alert-info">
            <div class="form-group">
                @Html.Label("AnioEscolarId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AnioEscolarId", ViewBag.AnioEscolars as SelectList, "[Seleccione Año Escolar]", new { @class = "form-control" })
                    @Html.ValidationMessage("AnioEscolarId", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("AsignaturaId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AsignaturaId", ViewBag.Asignaturas as SelectList, "[Seleccione Asignatura]", new { @class = "form-control" })
                    @Html.ValidationMessage("AsignaturaId", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("ClaseId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ClaseId", ViewBag.Clases as SelectList, "[Seleccione Clase]", new { @class = "form-control" })
                    @Html.ValidationMessage("ClaseId", "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <button id="btnRefresh" type="button" class="btn btn-success pull-right">Actualizar</button><br />
                <div id="claseList">

                </div>
            </div>
        </div>
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AnioEscolarId,#AsignaturaId').on('click change', function (e) {
                cargarClases();
            });

            $('#ClaseId').on('change', function (e) {
                cargarAlumnos();
            });

            $('#btnRefresh').on('click', function (e) {
                cargarAlumnos();
            });
        });

        //function getAsignaturaId() {
        //    return $("#AsignaturaId").val();
        //}
        //function getClaseId() {
        //    return $("#ClaseId").val();
        //}

        function cargarClases() {
            $.get("/Clase/GetByAsignaturaId",
            {
                asignaturaId: $("#AsignaturaId").val(),
                anioEscolarId: $("#AnioEscolarId").val(),
            },
            function(data) {
                $("#ClaseId").empty();
                $("#ClaseId").append("<option>[Clases]</option>")
                $.each(data,
                    function(index, row) {
                        $("#ClaseId").append("<option value='" + row.ClaseId + "'>" + row.Nombre + "</option>")
                    });
            });
        }

        function cargarAlumnos() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("_GetNotasClase")' + '/?claseId=' + $("#ClaseId").val(),
                dataType: 'html',
                success: function (data) {
                    $("#claseList").html(data);
                },
                error: function (ex) {
                    alert('Error al cargar los horarios.' + ex);
                }
            });
        }
    </script>
}

