﻿@model DB_ST.Domain.NotaSolicitudCambio

@{
    ViewBag.Title = "Solicitud de cambio de nota";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="alert alert-info">
            <strong>El plazo de registro de notas para este periodo ha culminado, si desea editar la nota, envíe una solicitud de modificación utilizando el siguiente formulario.</strong>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Nota Actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.NotaActual
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotaNueva, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NotaNueva, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NotaNueva, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Motivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DestinatarioId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DestinatarioId,
                    ViewBag.Destinatarios as SelectList,
                    "[Seleccione Destinatario]",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DestinatarioId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.NotaId)
        @Html.HiddenFor(model => model.EstadoSolicitud)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}