﻿@model IEnumerable<DB_ST.Domain.NotaSolicitudCambio>

@{
    ViewBag.Title = "Solicitudes de cambio de nota";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_resultado")

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Alumno")
        </th>
        <th>
            @Html.DisplayName("Asignatura")
        </th>
        <th>
            @Html.DisplayName("Respuesta")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota.EstudianteClase.Estudiante.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota.EstudianteClase.Clase.Asignatura.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSolicitud)
            </td>
            @*<td>
                @Html.ActionLink("Responder", "Responder", new { id = item.NotaSolicitudCambioId })
            </td>*@
        </tr>
    }

</table>
