﻿@model DB_ST.Domain.NotaSolicitudCambio

@{
    ViewBag.Title = "Responder";
}

<h2>Responder</h2>

<div>
    <h4>NotaSolicitudCambio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Alumno")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota.EstudianteClase.Estudiante.FullName)
             (@Html.DisplayFor(model => model.Nota.EstudianteClase.Clase.Seccion.Grado.Nombre) - @Html.DisplayFor(model => model.Nota.EstudianteClase.Clase.Seccion.Nombre))
        </dd>

        <dt>
            @Html.DisplayName("Asignatura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota.EstudianteClase.Clase.Asignatura.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Docente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota.EstudianteClase.Clase.Empleado.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Nota Actual")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota.Vigesimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaNueva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaNueva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DestinatarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinatarioId)
        </dd>*@

    </dl>
</div>

@using (Html.BeginForm
            (
                "Responder",
                "NotaSolicitudCambio",
                new { id = Model.NotaSolicitudCambioId, aprobar = true },
                FormMethod.Post,
                new { }
            )

        )
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.NotaSolicitudCambioId)
    <div class="form-actions no-color">
        <input type="submit" value="Aprobar" class="btn btn-default" />
    </div>
}

@using (Html.BeginForm
                        (
                            "Responder",
                            "NotaSolicitudCambio",
                            new { id = Model.NotaSolicitudCambioId, aprobar = false },
                            FormMethod.Post,
                            new { }
                        )

                    )
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.NotaSolicitudCambioId)
    <div class="form-actions no-color">
        <input type="submit" value="Rechazar" class="btn btn-default" />
    </div>
}