﻿@model IEnumerable<DB_ST.Domain.AsistenciaAlumno>

<div class="form-group alert alert-success">
    <b>
   @Html.Label("Asistencias:") @ViewBag.Asistio <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span> <br />
   @Html.Label("Faltas     :") @ViewBag.Falto <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>
    </b>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorAsistencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @if (item.ValorAsistencia == DB_ST.Domain.Enum.ValorAsistencia.Asistio)
            {
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span>
            }
            else if (item.ValorAsistencia == DB_ST.Domain.Enum.ValorAsistencia.Falto)
            {
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>
            }
        </td>
    </tr>
}

</table>
