﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DB_ST.Domain.Matricula>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


@*<div class="row" style="margin-top:20px;padding-left:20px;">
    @Html.ActionLink("Create New", "Create")
</div>*@


@Html.ActionLink("Registrar nueva", "Create")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AnioEscolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Estudiante.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Estudiante.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MontoMatricula)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnioEscolar.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMatricula)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.MatriculaId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.MatriculaId })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        SearchCriteria=ViewBag.SearchCriteria,
        AnioEscolarId = ViewBag.AnioEscolarId,
        GradoId = ViewBag.GradoId,
        SeccionId = ViewBag.SeccionId
    })
    ,
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    })
    )