﻿@model DB_ST.Domain.Estudiante

@Html.HiddenFor(model => model.EstudianteId, new { @id = "EstudianteId" })
@Html.Hidden("SudentId", Model.EstudianteId)

<div class="form-group">
    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-3" })
    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id="EstudianteNombre" } })
    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label col-md-3" })
    @*<div class="col-md-9">*@
        @*@Html.DropDownList("EstudianteId", ViewBag.Estudiantes as SelectList, "[Estudiantes]", new { @class = "form-control" })*@
        @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
    @*</div>*@
</div>

<div id="mee"></div>

@*@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#FullName").change(function () {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("GetTraslado")' + '/?id=' + $("#EstudianteId").val(),
                    dataType: 'html',
                    success: function (data) {
                        $("#mee").html(data);
                    },
                    error: function (ex) {
                        alert('Error al cargar el formulario de traslado' + ex);
                    }
                });
            });
        });
    </script>
}*@