﻿@model DB_ST.Domain.Apoderado

@Html.HiddenFor(model => model.ApoderadoId)

<div class="form-group">
    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-3" })
    @*<div class="col-md-9">*@
        @*@Html.DropDownList("EstudianteId", ViewBag.Estudiantes as SelectList, "[Estudiantes]", new { @class = "form-control" })*@
        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
    @*</div>*@
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label col-md-3" })
    @*<div class="col-md-9">*@
        @*@Html.DropDownList("EstudianteId", ViewBag.Estudiantes as SelectList, "[Estudiantes]", new { @class = "form-control" })*@
        @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
    @*</div>*@
</div>
