﻿@model DB_ST.Domain.Matricula

@*@{ 
    Model.EstadoEstudiante = Model.Estudiante.EstadoEstudiante;
}*@

<div class="form-group">
    @Html.LabelFor(model => model.CodigoInsitucionOrigen, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.CodigoInsitucionOrigen, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CodigoInsitucionOrigen, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.RazonTraslado, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.RazonTraslado, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RazonTraslado, "", new { @class = "text-danger" })
    </div>
</div>

