﻿@model DB_ST.Domain.Matricula

@{
    ViewBag.Title = "Registrar";
}

<h2>@ViewBag.Title</h2>

<h4>Matricula</h4>
<hr />
@Html.Partial("_resultado")

@if (ViewBag.error==null)
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.MatriculaId)
            @Html.HiddenFor(m => m.FechaMatricula)

            <div class="form-horizontal">
                    <div class="form-horizontal ">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoMatricula, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.DisplayFor(model => model.TipoMatricula, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaMatricula, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.DisplayFor(model => model.FechaMatricula, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MontoMatricula, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.DisplayFor(model => model.MontoMatricula, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.EstudianteId, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.DropDownList("EstudianteId", ViewBag.Estudiantes as SelectList, "[Estudiante]", new { @class = "form-control select2" })
                                <a class="btn btn-success" href="@Url.Action("Create", "Estudiante")"><span class='glyphicon glyphicon-plus'>Agregar</span></a>
                            </div>

                            <div  id="TrasladoEntrante">
                            </div>     

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ApoderadoId, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.DropDownList("ApoderadoId", ViewBag.Apoderados as SelectList, "[Apoderado]", new { @class = "form-control select2" })
                                <a class="btn btn-success" href="@Url.Action("Create", "Apoderado")"><span class='glyphicon glyphicon-plus'>Agregar</span></a>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GradoId, htmlAttributes: new { @class = "control-label col-md-3" })
                                @*<div class="col-md-9">*@
                                    @Html.DropDownListFor(model => model.GradoId, ViewBag.Grados as SelectList, "[Grado]", new { @class = "form-control select2", @id = "SelectGrado" })
                                    @*@Html.ValidationMessageFor(model => model.GradoId, "", new { @class = "text-danger" })*@
                                @*</div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SeccionId, htmlAttributes: new { @class = "control-label col-md-3" })
                                @*<div class="col-md-9">*@

                                @Html.DropDownListFor(model => model.SeccionId, new SelectList(new List<DB_ST.Domain.Seccion>(),"SeccionId","Nombre"), "[Sección]", new { @class = "form-control select2", @id = "SelectSeccion" })
                                    @*<select id="SelectSeccion" class="form-control select2">
                                        <option>[Sección]</option>
                                    </select>*@
                                    @*@Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })*@
                                @*</div>*@
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroVoucher, htmlAttributes: new { @class = "control-label col-md-3" })
                                @*<div class="col-md-9">*@
                                @Html.EditorFor(model => model.NumeroVoucher, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumeroVoucher, "", new { @class = "text-danger" })
                                @*</div>*@
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-8">
                                <input type="submit" value="Registrar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
            </div>
        }


        <div id="StudentName" class="col-sm-4">
        </div>

    </div>

    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            $(".select2").select2();

        $(function () {
            $('#FechaMatricula').datepicker(
            {
                format: "dd/mm/yyyy"
            });
        });
        </script>


        <script type="text/javascript">

        $(function () {
            cargarSecciones();
            $("#SelectGrado").change(function () {
                cargarSecciones();
            });

            $("#EstudianteId").change(function () {
                cargarTraslado();
                cargarGrados();
            });


            $("#SelectSeccion").change(function () {
                $("#SeccionId").val($("#SelectSeccion").val());
            });

            //$(document).on("click",/* "#EstudianteNombre"*/ "#btnBuscarEstudiante", function (e) {
            //    setTimeout(cargarTraslado, 500);
            //});
        });

        function cargarTraslado() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetTraslado")' + '/?id=' + $("#EstudianteId").val(),
                dataType: 'html',
                success: function (data) {
                    var trasladoDivSelector="#TrasladoEntrante";
                    $(trasladoDivSelector).html(data);
                    if ($(trasladoDivSelector).html() != "" && !$(trasladoDivSelector).hasClass("form-group"))
                        $(trasladoDivSelector).addClass("form-group");
                    else
                        $(trasladoDivSelector).removeClass("form-group");
                        
                },
                error: function (ex) {
                    //alert('Error al cargar el formulario de traslado' + ex);
                }
            });
        }


        function cargarGrados()
        {
            $.get("/Matricula/GetGradosByEstudiante", { estudianteId: $("#EstudianteId").val() }, function (data) {
                $("#SelectGrado").empty();
                $("#SelectGrado").append("<option>[Grado]</option>")
                $.each(data, function (index, row) {
                    $("#SelectGrado").append("<option value='" + row.GradoId + "'>" + row.Nombre + "</option>")
                });
            });
        }

        function cargarSecciones() {
            $.get("/Matricula/GetSeccionesByGrado", { id: $("#SelectGrado").val(), soloConCupos:true }, function (data) {
                $("#SelectSeccion").empty();
                $("#SelectSeccion").append("<option>[Sección]</option>")
                $.each(data, function (index, row) {
                    $("#SelectSeccion").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                });
            });
        }
        </script>
    }



}

