﻿@model DB_ST.Domain.Matricula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Se eliminarán todas las notas del estudiante que pertenezcan a esta matrícula, ¿Estás seguro?</h3>
<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudiante.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apoderado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apoderado.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioEscolar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnioEscolar.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoMatricula)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.MatriculaId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
