﻿@model DB_ST.Domain.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudiante.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apoderado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apoderado.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioEscolar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnioEscolar.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEstudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoEstudiante)
        </dd>

        @{
            if (Model.EstadoEstudiante == DB_ST.Domain.Enum.EstadoEstudiante.Trasladado)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.CodigoInsitucionOrigen)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CodigoInsitucionOrigen)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RazonTraslado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RazonTraslado)
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatriculaId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
