﻿@model DB_ST.Domain.Matricula

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>
<h4>Matricula</h4>
<hr />

<div class="row">
    <div class="form-horizontal col-sm-6" @*style="border-style: dotted;"*@>
        <h3>Estudiante</h3>

        @using (Ajax.BeginForm("SelectEstudiante", new AjaxOptions()
        {
            UpdateTargetId = "EstudianteSeleccionado",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div class="form-inline">
                @Html.Label("nroDni", "DNI del estudiante")
                @Html.TextBox("nroDni", null, new { @class = "form-control" })
                <button class="btn btn-danger">Buscar</button>
            </div>
        }
    </div>

    <div class="col-sm-6" @*style="border-style: dotted;"*@>
        <h3>Apoderado</h3>

        @using (Ajax.BeginForm("SelectApoderado", new AjaxOptions()
        {
            UpdateTargetId = "ApoderadoSeleccionado",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div class="form-inline">
                @Html.Label("nroDni", "DNI del apoderado ")
                @Html.TextBox("nroDni", null, new { @class = "form-control" })
                <button class="btn btn-danger">Buscar</button>
            </div>
        }
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MatriculaId)
        @Html.HiddenFor(model => model.FechaMatricula)
        @Html.HiddenFor(model => model.TipoMatricula)
        @Html.HiddenFor(model => model.MontoMatricula)
        @Html.HiddenFor(model => model.AnioEscolarId)
        @Html.HiddenFor(model => model.NumeroVoucher)

        <div class="form-horizontal row" style="padding:22px;">
            <div class="col-sm-6" @*style="border-style: dotted;"*@>
                <div class="form-group" id="EstudianteSeleccionado">
                    @{
                        var estudiante = new DB_ST.Domain.Estudiante();
                    }
                    @Html.Partial("_SelectEstudiante", Model.Estudiante)
                </div>
            </div>

            <div class="col-sm-6" style="left:3px">
                <div class="form-group" id="ApoderadoSeleccionado">
                    @{
                        var apoderado = new DB_ST.Domain.Apoderado();
                    }
                    @Html.Partial("_SelectApoderado", Model.Apoderado)
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.EstudianteId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EstudianteId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstudianteId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApoderadoId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ApoderadoId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApoderadoId, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-horizontal row">
            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
                <h3>Grado y Sección</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.GradoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.DropDownList("GradoId", ViewBag.Grados as SelectList, "[Grado]", new { @class = "form-control", @id = "SelectGrado" })
                        @Html.ValidationMessageFor(model => model.GradoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.SeccionId)
                <div class="form-group">
                    @Html.LabelFor(model => model.SeccionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.DropDownList("SeccionId", ViewBag.Secciones as SelectList, "[Sección]", new { @class = "form-control", @id = "SelectSeccion" })
                        @Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        </div>
            }

            <div>
                @Html.ActionLink("Volver a la lista", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">

                    $(function () {
                        $("#SelectGrado").change(function () {
                            cargarSecciones();
                        });

                        $("#SelectSeccion").change(function () {
                            $("#SeccionId").val($("#SelectSeccion").val());
                        });
                    });

                    function cargarSecciones() {
                        $.get("/Matricula/GetSeccionesByGrado", { id: $("#SelectGrado").val() }, function (data) {
                            $("#SelectSeccion").empty();
                            $("#SelectSeccion").append("<option>[Sección]</option>")
                            $.each(data, function (index, row) {
                                $("#SelectSeccion").append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                            });
                        });
                    }
                </script>

            }
