﻿@using PagedList;

@model PagedList<DB_ST.Domain.Matricula>

@{
    ViewBag.Title = "Matrículas";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_resultado")

<div class="col-sm-12">
    @using (Ajax.BeginForm("Index", new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="row alert alert-info">
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.Label("Año Escolar")
                    @Html.DropDownList("AnioEscolarId", ViewBag.AnioEscolars as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Grado")
                    @Html.DropDownList("GradoId", ViewBag.Grados as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-4">
                    @Html.Label("Sección")
                    @Html.DropDownList("SeccionId", ViewBag.Secciones as SelectList, "[No Filtrar]", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.Label("SearchCriteria", "DNI/Nombres de estudiante") <br />
                    @Html.TextBox("SearchCriteria", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4"><br />
                    <button class="btn btn-danger">Buscar matrícula</button>
                </div>
            </div>
        </div>

    }

    <br />
    <div id="search_result">
        @Html.Partial("_Index", Model)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var seccionSelector = "#SeccionId";

        $("#GradoId,#AnioEscolarId").change(function () {
            cargarSecciones();
        });
        function cargarSecciones() {
            $.get("/Matricula/GetSeccionesByGrado",
                {
                    id: $("#GradoId").val(),
                    anioEscolarId: $("#AnioEscolarId").val()
                }
                , function (data) {
                $(seccionSelector).empty();
                $(seccionSelector).append("<option>[No Filtrar]</option>")
                $.each(data, function (index, row) {
                    $(seccionSelector).append("<option value='" + row.SeccionId + "'>" + row.Nombre + "</option>")
                });
            });
        }
    </script>
}