﻿@model IEnumerable<DB_ST.Domain.Vacuna>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoVacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UlltimaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVacuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VacunaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VacunaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VacunaId })
        </td>
    </tr>
}

</table>
