﻿@model DB_ST.Domain.Vacuna

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>

<h3>¿Deseas eliminar esta vacuna?</h3>
<div>
    <h4>Vacuna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlltimaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.VacunaId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
