﻿@model DB_ST.Domain.Sesion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sesion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.Full)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clase.FullAsignaturaClase)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.SesionId)
        @Html.HiddenFor(model => model.ClaseId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "GetByClaseId", new { claseId = Model.ClaseId })
        </div>
    }
</div>
