﻿@model DB_ST.Domain.Sesion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sesion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.Full)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clase.FullAsignaturaClase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SesionId }) |
    @Html.ActionLink("Volver a la lista", "GetByClaseId", new { claseId = Model.ClaseId })
</p>
