﻿@model DB_ST.Domain.Sesion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sesion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SesionId)
        @Html.HiddenFor(model => model.Dia)        

        <div class="form-group">
            @Html.LabelFor(model => model.Dia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Dia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HorarioId,
                ViewBag.Horarios as SelectList,
                "[Seleccione Horario]",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HorarioId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ClaseId)
        @*<div class="form-group">
            @Html.LabelFor(model => model.ClaseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClaseId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClaseId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "GetByClaseId", new { claseId = Model.ClaseId })
</div>
