﻿@model IEnumerable<DB_ST.Domain.Sesion>

@{
    ViewBag.Title = @ViewBag.Titulo;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { claseId= @ViewBag.ClaseId })
    @*<a href="/Sesion/Create?claseId=@ViewBag.ClaseId" class="BtnCreateSesion">Crear</a>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario.Full)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SesionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SesionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SesionId })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver a las Clases", "Index","Clase",null,null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$(document).ready(function () {
        //    $(".BtnCreateSesion").click(function () {
        //        $(this).attr('href', '/Sesion/Create?claseId=' + $("#ClaseId").val());
        //    });
        //});
    </script>
}
