﻿@model DB_ST.Domain.Material

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usados)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SeccionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.MaterialId)
        @Html.HiddenFor(x => x.SeccionId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
