﻿@model IEnumerable<DB_ST.Domain.Asignatura>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UlltimaModificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsignaturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsignaturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsignaturaId })
        </td>
    </tr>
}

</table>
