﻿@model DB_ST.Domain.Asignatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UlltimaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlltimaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsignaturaId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
